.Rproj.user
.Rhistory
.RData
.DS_Store
/node_modules
/lib
/srv/publisher.ls
/www/screen.css
/www/external.css
/www/external.js
/www/js/*
!/www/js/_loadExternal.js
!/www/js/echo.js
/www/script.js
/www/data.js
/*.sublime-workspace
azure-upload-settings.json

/src/config.ls
/test/config.ls

/data/obce-mc-shp/*
/data/senat_obvody.qgs
/data/geojsons
/data/output
!/data/output/.placeholder
